[gpg]
    format = ssh
[user]
	name = Mateusz Wroński
	email = 78876597+mattbr1ght@users.noreply.github.com
	signingkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMPl0Lf5boy9cjZ1UuP5DCIPAi4/MOj8ar4KbdD8j2v9"
[init]
	defaultBranch = main
[commit]
    gpgsign = true
[credential]
	helper = store
[gpg "ssh"]
	allowedSignersFile = /home/operator/.ssh/allowed_signers
